[submodule "ComfyUI"]
	path = ComfyUI
	url = https://github.com/comfyanonymous/ComfyUI.git
[submodule "backend/Wan2.1"]
	path = backend/Wan2.1
	url = https://github.com/Wan-Video/Wan2.1.git
[submodule "vllm"]
	path = vllm
	url = https://github.com/vllm-project/vllm.git
[submodule "packages/ai-companion-image-backend"]
	path = packages/ai-companion-image-backend
	url = https://github.com/bean980310/ai-companion-image-backend.git
[submodule "packages/ai-companion-llm-backend"]
	path = packages/ai-companion-llm-backend
	url = https://github.com/bean980310/ai-companion-llm-backend.git
[submodule "packages/ai-companion-langchain-integrator"]
	path = packages/ai-companion-langchain-integrator
	url = https://github.com/bean980310/ai-companion-langchain-integrator.git
