transformers
huggingface_hub
datasets
safetensors
sentencepiece
tokenizers
diffusers
peft
trl
evaluate
jiwer
gradio
regex
torch
torchvision
torchaudio
accelerate
opencv-python
opencv-contrib-python
imutils
pytesseract
pdf2image
fasttext
basicsr
gtts
pydub
matplotlib
scipy
librosa
samplerate
pyworld
facexlib
gfpgan
git+https://github.com/xinntao/Real-ESRGAN.git
openai
tiktoken
anthropic
google-genai
gguf
llama-cpp-python
ollama
unstructured
sentence_transformers
langchain
langchain-core
langchain-openai
langchain-anthropic
langchain-community
langchain-huggingface
langchain-ollama
onnx
onnxruntime
gptqmodel
Pillow
numpy
websocket-client
faiss-cpu
eva-decord
tensorflow
tensorboard
keras
tf-keras
numba
pytorch-lightning
ffmpeg-python
tqdm
funasr
cn2an
pypinyin
pyopenjtalk
g2p_en
modelscope
chardet
PyYAML
psutil
jieba_fast
jieba
split-lang
fast_langdetect
Faster_whisper
wordsegment
rotary_embedding_torch
ToJyutping
g2pk2
ko_pron
opencc
python_mecab_ko
fastapi
x_transformers
torchmetrics
attrdict