transformers
huggingface_hub
datasets
safetensors
sentencepiece
tokenizers
diffusers
peft
trl
evaluate
jiwer
gradio
regex
torch
torchvision
torchaudio
accelerate
opencv-python
opencv-contrib-python
imutils
pytesseract
pdf2image
fasttext
basicsr
gtts
pydub
matplotlib
scipy
librosa
samplerate
pyworld
facexlib
gfpgan
git+https://github.com/xinntao/Real-ESRGAN.git
openai
tiktoken
anthropic
google-genai
gguf
llama-cpp-python
stable-diffusion-cpp-python
ollama
lmstudio
unstructured
sentence_transformers
langchain
langchain-core
langchain-openai
langchain-anthropic
langchain-google-genai
langchain-community
langchain-huggingface
langchain-ollama
qwen-vl-utils
qwen-omni-utils
xformers
jaxtyping
bitsandbytes
onnx
onnxruntime-gpu
gptqmodel
Pillow
numpy
websocket-client
faiss-gpu
eva-decord;  python_version < '3.12'
tensorflow
tensorboard
keras
tf-keras
numba
pytorch-lightning
ffmpeg-python
tqdm
funasr
cn2an
pypinyin
pyopenjtalk-plus
g2p_en
modelscope
chardet
PyYAML
psutil
jieba_fast
jieba
split-lang
fast_langdetect
openai-whisper
Faster_whisper
wordsegment
rotary_embedding_torch
ToJyutping
g2pk2
ko_pron
opencc
fastapi
x_transformers
torchmetrics
attrdict