setuptools
wheel
scikit-build-core
numpy>=2.0.2
numba>=0.60.0
pandas>=2.0.0
matplotlib
scikit-learn
beautifulsoup4==4.13.5
sympy==1.14.0
scipy==1.16.0
protobuf
packaging==25.0
fsspec
pyyaml==6.0.2
jinja2==3.1.6
python-json-logger
xgboost
ninja
cmake>=3.18,<4.0
unidecode
sqlite-vec
sqlalchemy
filelock>=3.18.0
chardet
attrdict
twine
websocket-client
loguru
imutils
pytesseract
easyocr
pdf2image
neo4j
markitdown[all]

# num2words
# spacy
# spacy-curated-transformers
# phonemizer-fork
# espeakng-loader
# g2p_en

# tensorflow<2.20.0
tensorboard
# keras
# tf-keras
torch>=2.8.0 --index-url https://download.pytorch.org/whl/cu126
torchvision
torchaudio
# jax
# jaxlib
# jaxtyping
# jax[cuda12]
# flax
optimum
optimum-quanto
torchao
iopath
layoutparser
xformers>=0.0.32 --index-url https://download.pytorch.org/whl/cu128
bitsandbytes
onnxruntime-gpu
faiss-gpu
decord2
opencc==1.1.1
triton
# vllm
# llmcompressor
mlx[cuda]