transformers
huggingface_hub
datasets
safetensors
sentencepiece
tokenizers
nltk
diffusers
peft
trl
evaluate
jiwer
gradio
regex
torch
torchvision
torchaudio
jax
jaxlib
jax-metal
flax
jinja2
packaging
accelerate
optimum
optimum-quanto
torchao
GitPython
opencv-python
opencv-contrib-python
imutils
pytesseract
pdf2image
fasttext
basicsr
gtts
pydub
matplotlib
scipy
librosa
samplerate
pyworld
facexlib
gfpgan
git+https://github.com/xinntao/Real-ESRGAN.git
openai
tiktoken
anthropic
google-genai
gguf
llama-cpp-python
stable-diffusion-cpp-python
ollama
lmstudio
unstructured
sentence_transformers
langchain
langchain-core
langchain-openai
langchain-anthropic
langchain-google-genai
langchain-community
langchain-huggingface
langchain-ollama
qwen-vl-utils
qwen-omni-utils
# xformers
jaxtyping
# bitsandbytes
onnx
onnxruntime
gptqmodel
Pillow
numpy
websocket-client
faiss-cpu
eva-decord;  python_version < '3.12'
eva-decord-plus; python_version == '3.12'
tensorflow
tensorflow-metal
tensorboard
keras
tf-keras
numba
pytorch-lightning
ffmpeg-python
tqdm
funasr
cn2an
pypinyin
pyopenjtalk-plus
g2p_en
modelscope
chardet
PyYAML
psutil
jieba_fast
jieba
split-lang
fast_langdetect
openai-whisper
Faster_whisper
wordsegment
rotary_embedding_torch
ToJyutping
g2pk2
ko_pron
opencc
python_mecab_ko
fastapi
x_transformers
torchmetrics
attrdict
wavmark
eng_to_ipa
inflect
unidecode
whisper-timestamped
langid
txtsplit
cached_path
num2words
unidic_lite
unidic
mecab-python3
pykakasi
fugashi
anyascii
jamo
gruut[de,es,fr]
g2pkk
loguru
mecab
mlx
mlx_lm
# mlx_vlm
git+https://github.com/bean980310/mlx-vlm.git
mlx_embeddings
mlx_whisper
mlx_audio
coremltools
argmaxtools
# diffusionkit